body{
    align-items: center;
    background: #333333;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0;
    margin: auto;
    max-width: 1200px;
    padding: 0;
    text-align: center;

    main{
        text-align: left;
        padding: 0 30px;

        section{
            display: flex;
            flex-direction: row;
            gap: 20px
        }
        img{
            max-width: 300px;
        }
    }
}